pip>=24.3.1
setuptools>=65.5.0
streamlit
Pillow
numpy
albumentations
fpdf
streamlit_drawable_canvas
streamlit-image-comparison
watchdog
pandas
matplotlib
seaborn
plotly
altair
loguru
python-dateutil
pylatexenc
scipy
regex
tqdm
dask==2023.10.0
vaex==4.17.0
orjson
